/*
-----------------------------------------
Placeholder
-----------------------------------------
*/

@mixin placeholder(){
	&::-webkit-input-placeholder {@content};
	&::-moz-placeholder {@content};
	&:-ms-input-placeholder {@content};
	&:-moz-placeholder {@content};
}

/*
-----------------------------------------
Filter
-----------------------------------------
*/

@mixin filter($filter){
	-webkit-filter: #{$filter};
    -moz-filter:#{$filter};
    -o-filter: #{$filter};
    -ms-filter: #{$filter};
    filter: #{$filter};
}

/*
-----------------------------------------
Media
-----------------------------------------
*/

@mixin respond-to($media) {
	@if $media == xlg {
		@media (min-width: #{$bigscreen_width + 1}) { @content; }
	}
	@else if $media == xmd {
		@media (min-width: #{$desktop_width + 1}) { @content; }
	}
	@else if $media == xsm {
		@media (min-width: #{$tablet_width + 1}) { @content; }
	}
	@else if $media == lg {
		@media (max-width: #{$bigscreen_width}) { @content; }
	}
	@else if $media == md {
		@media (max-width: #{$desktop_width}) { @content; }
	}
	@else if $media == sm {
		@media (max-width: #{$tablet_width}) { @content; }
	}
	@else if $media == ms {
		@media (max-width: #{$phone_landscape_width}) { @content; }
	}
	@else if $media == xs {
		@media (max-width: #{$phone_portrait_width}) { @content; }
	}
}